.comicCard {
  display: flex;
  flex-direction: column;
  background-size: cover;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: rgb(187, 231, 255);
  text-decoration: none;
  color: #000;
  transition: border-color 0.3s ease; 
  box-shadow: 0 0 10px rgba(0, 0, 255, 0);
}

.comic-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: bold;
}

.additional-info {
  display: flex;
}

.additional-info span {
  margin-right: 10px;
}

body {
  background-color: rgb(0, 168, 162);
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
}

.comicCard:hover {
  background-color: white; 
  border-color: rgb(0, 168, 162); 
  box-shadow: 0 0 10px rgb(255, 255, 129); 
}

.comicCard:hover .caption {
  color: rgb(255, 0, 0);
}

.caption {
  color: black;
  transition: color 0.3s ease; 
}